page-tripdetail {
  .box-container {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .color-offwhite {
    color: #bfbfbf !important;
  }

  .mid-item {
    display: block;
    margin: -18px auto 0;
    position: relative;
    width: 40px;
    background: #ffffff;
  }
  .blue-hr {
    height: 1px !important;
    background-color: #51afdd !important;
    position: relative;
  }
  ion-label {
    margin: 0px !important;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
  }

  #filter_options {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 99;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;

    text-align: center;
    color: #444;
    border-radius: 5px;

    ion-list {
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 1rem;
    }
    #apply_filters {
      height: 5rem;
      margin: 0 0 1rem;
    }

    .show {
      display: block;
    }
    .hide {
      display: none;
    }
  }

  #filter_options > div {
    top: 35%;
    background: #ffffff;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
  }
  
}

.calert-wrapper .alert-wrapper {
  background-color: #444444 !important;
  border-radius: 10px !important;
}
.calert-wrapper .btn {
  background: #fff;
  border-color: #b2b2b2;
  background-color: #f8f8f8;
  color: #444;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 52px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 42px;
  cursor: pointer;
  border-radius: 20px !important;
}
.calert-wrapper .alert-wrapper {
  background-color: #001a30 !important;
  border-radius: 10px !important;
  border: 1px solid #003461 !important;
}
