<ion-header>
	<ion-navbar color="primary">
		<ion-title>Change Password</ion-title>
	</ion-navbar>
</ion-header>
<!--style="background: linear-gradient(-90deg, #7babf3, #d4d9fb);" -->
<ion-content padding>
	<div class="logo">
		<img src="assets/imgs/icon.png" alt="Ionic logo" style="max-width: 150px;">
	</div>

	<p *ngIf="submitAttempt && !ionform.valid" style="color: #ea6153;" padding-left padding-right>Please fill out all
		details accurately.</p>

	<ion-list inset no-padding no-margin style="margin-top: 0px;">
		<form [formGroup]="ionform">

			<ion-item style="background: transparent !important;" no-padding>
				<ion-label no-margin>New Password
					<span class="danger"
						*ngIf="!ionform.controls.set_password.valid && (ionform.controls.set_password.dirty || submitted)">*
						required</span>
				</ion-label>
			</ion-item>
			<ion-item style="border: 1px solid #aaa;">

				<ion-input placeholder="Enter New Password" formControlName="set_password" type="password"
					[class.invalid]="!ionform.controls.set_password.valid && (ionform.controls.set_password.dirty || submitted)">
				</ion-input>
			</ion-item>


			<ion-item style="background: transparent !important;" no-padding>
				<ion-label no-margin>Retype Password
					<span class="danger"
						*ngIf="!ionform.controls.confirm_password.valid && (ionform.controls.confirm_password.dirty || submitted)">*
						required</span>
				</ion-label>
			</ion-item>
			<ion-item style="border: 1px solid #aaa;margin-bottom: 10px">

				<ion-input placeholder="Enter Confirm Password" formControlName="confirm_password" type="password"
					[class.invalid]="!ionform.controls.confirm_password.valid && (ionform.controls.confirm_password.dirty || submitted)">
				</ion-input>
			</ion-item>


			<button ion-button color="button_all" (click)="validpassword()" block round item-right>
				CHANGE
			</button>

		</form>
	</ion-list>
</ion-content>